<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.persistence.dao.MtimeCinemaTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.persistence.model.MtimeCinemaT">
        <id column="UUID" property="uuid" />
        <result column="cinema_name" property="cinemaName" />
        <result column="cinema_phone" property="cinemaPhone" />
        <result column="brand_id" property="brandId" />
        <result column="area_id" property="areaId" />
        <result column="hall_ids" property="hallIds" />
        <result column="img_address" property="imgAddress" />
        <result column="cinema_address" property="cinemaAddress" />
        <result column="minimum_price" property="minimumPrice" />
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.stylefeng.guns.rest.persistence.model.responseVo.cinemaResponseVo.CinemaVO">
        <id column="UUID" property="id" />
        <result column="cinema_name" property="cinemaName" />
        <result column="cinema_address" property="address" />
        <result column="minimum_price" property="minimumPrice" />
    </resultMap>

    <select id="queryCinemasByPage" resultMap="BaseResultMap2">
        select UUID,cinema_name,cinema_address,minimum_price
        from mtime_cinema_t
        <where>
            <if test="cinema.brandId != 99">
                brand_id=#{cinema.brandId}
            </if>
            <if test="cinema.districtId != 99">
                and area_id=#{cinema.districtId}
            </if>
            <if test="cinema.hallType != '99'">
                and hall_ids LIKE '%'||#{cinema.hallType}||'%'
            </if>
        </where>
         limit #{limit} offset #{offset}
    </select>

    <select id="queryACinema" resultType="com.stylefeng.guns.rest.persistence.model.responseVo.cinemaVo.CinemaInfoVO">
       select UUID as cinemaId,img_address as imgUrl,cinema_name as cinemaName,cinema_address as cinemaAdress,cinema_phone as cinemaPhone from mtime_cinema_t where UUID=#{cinemaId}
   </select>

    <resultMap id="findfiled" type="com.stylefeng.guns.rest.persistence.model.responseVo.cinemaVo.FilmInfoVO">
        <id column="mid" property="filmId" />
        <result column="film_name" property="filmName" />
        <result column="film_length" property="filmLength" />
        <result column="film_cats" property="filmCats" />
        <result column="film_language" property="filmType" />
        <result column="actors" property="actors" />
        <result column="img_address" property="imgAddress" />
        <collection property="filmFields" ofType="com.stylefeng.guns.rest.persistence.model.responseVo.cinemaVo.FilmFieldVO">
            <result column="did" property="fieldId" />
            <result column="film_language" property="language" />
            <result column="begin_time" property="beginTime" />
            <result column="end_time" property="endTime" />
            <result column="hall_name" property="hallName" />
            <result column="price" property="price" />
        </collection>

    </resultMap>
    <select id="queryCinemaField" resultMap="findfiled">
        select m.film_id as mid,film_name,film_length,film_cats,actors,film_language,img_address,d.UUID as did,begin_time,end_time,hall_name,price from mtime_hall_film_info_t m
        left join mtime_field_t d on m.film_id=d.film_id where cinema_id=#{cinemaId}
    </select>

    <select id="queryFilmInfo" resultType="com.stylefeng.guns.rest.persistence.model.responseVo.cinemaVo.FilmInfoVO">
       select m.film_id as filmId,film_name as filmName,film_length as filmLength,film_cats as filmCats,actors,film_language as filmType,img_address as imgAddress,d.UUID as did,begin_time,end_time,hall_name,price from mtime_hall_film_info_t m
        left join mtime_field_t d on m.film_id=d.film_id where cinema_id=#{cinemaId} and d.UUID=#{fieldId}
    </select>
    <select id="queryHallInfo" resultType="com.stylefeng.guns.rest.persistence.model.responseVo.cinemaVo.HallInfoVO">
        select hall_id as hallFieldId,hall_name as hallName,price,seat_address as seatFile from mtime_field_t
        left join  mtime_hall_dict_t d on  hall_id=d.UUID where d.UUID=#{fieldId}
    </select>

</mapper>
